---
version: '3'

services:
  kafka-1:
    container_name: kafka-1
    image: debezium/kafka:2.1.1.Final
    ports:
      - 19092:9092
      - 19093:9093
    environment:
      - CLUSTER_ID=5Yr1SIgYQz-b-dgRabWx4g
      - NODE_ID=1
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093
      - CREATE_TOPICS=streams-plaintext-input:6:3,streams-wordcount-output:6:3
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:19092

  kafka-2:
    container_name: kafka-2
    image: debezium/kafka:2.1.1.Final
    ports:
      - 29092:9092
      - 29093:9093
    environment:
      - CLUSTER_ID=5Yr1SIgYQz-b-dgRabWx4g
      - NODE_ID=2
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093
      - CREATE_TOPICS=streams-plaintext-input:6:3,streams-wordcount-output:6:3
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:29092

  kafka-3:
    container_name: kafka-3
    image: debezium/kafka:2.1.1.Final
    ports:
      - 39092:9092
      - 39093:9093
    environment:
      - CLUSTER_ID=5Yr1SIgYQz-b-dgRabWx4g
      - NODE_ID=3
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093
      - CREATE_TOPICS=streams-plaintext-input:6:3,streams-wordcount-output:6:3
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:39092

  scylla:
    container_name: scylla
    image: scylladb/scylla:5.1
    command: --smp 1 --memory 750M --overprovisioned 1 --experimental 1
    ports:
      - 9042:9042
    restart: always
    healthcheck:
      test: [ "CMD", "cqlsh", "-e describe keyspaces" ]
      interval: 10s
      timeout: 10s
      retries: 15

  scylla-load-keyspace:
    container_name: scylla-load-keyspace
    image: scylladb/scylla:5.1
    depends_on:
      scylla:
        condition: service_healthy
    volumes:
      - ./src/main/resources/cassandra_schema.cql:/schema.cql
    entrypoint: ''
    command: /bin/bash -c "echo loading scylladb keyspace && cqlsh scylla -f /schema.cql"
